<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Players</h1>

    <table class="table table-striped">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Number</th>


      </tr>
      <% players.forEach(function(player){ %>
        <tr>
          <td><%= player.firstName %></td>
          <td><%= player.lastName %></td>
          <td><%= player.number %></td>


          </tr>
       <% }) %>
       </table>
</body>
</html>
